.create-post-page {
  width: 75%;
  height: 90%;
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.create-post-form-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ui.form.create-post-form {
  width: 70%;
  margin-top: 1em;
}

.ui.button.create-post-btn {
  box-shadow: 5px 10px 10px rgba(163, 163, 163, 0.19),
    0 3px 3px rgba(141, 141, 141, 0.23);
  background: linear-gradient(
    140deg,
    rgba(83, 32, 229, 1) 0%,
    rgba(83, 32, 229, 1) 30%,
    rgba(225, 27, 229, 1) 100%
  ) !important;
  color: white !important;
  float: right;
  margin-bottom: 5em;

  &:hover {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  }

  &:disabled {
    box-shadow: 5px 10px 10px rgba(163, 163, 163, 0.19),
      0 3px 3px rgba(141, 141, 141, 0.23) !important;
    background-image: linear-gradient(
      140deg,
      rgba(83, 32, 229, 1) 0%,
      rgba(83, 32, 229, 1) 30%,
      rgba(225, 27, 229, 1) 100%
    ) !important;
  }
}

.post-success {
  margin-top: 35%;
  display: inline-flex;
  align-items: center;

  .success-content {
    text-align: center;
  }

  .success-createpost {
    background: linear-gradient(
      140deg,
      rgba(83, 32, 229, 1) 0%,
      rgba(83, 32, 229, 1) 30%,
      rgba(225, 27, 229, 1) 100%
    ) !important;
    color: white !important;

    &:hover {
      -webkit-filter: brightness(90%);
    }
  }
}

i.icon.check-icon {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(83, 32, 229, 1)),
    to(rgba(225, 27, 229, 1))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6em;
  margin-right: 0.1em;
}
