.custom-card {
  margin-top: 10px;
  margin-bottom: 10px;

  .ui.card > .extra,
  .ui.cards > .card > .extra {
    display: flex;
    justify-content: space-between;

    .ui.button {
      margin-top: 0;
    }
  }

  .ui.card > .content,
  .ui.cards > .card > .content {
    border-top: 0 solid white !important;

    .ui.button {
      margin-top: 0;
    }
  }

  .ui.card > .content:after,
  .ui.cards > .card > .content:after {
    display: none;
  }

  .ui.centered.fluid.raised.card {
    max-width: 100%;
    min-width: 850px;
    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
}

.ui.centered.cards {
  flex-direction: column;
}

.ui.centered.one.cards {
  flex-wrap: nowrap;
  margin-top: 5%;
}
