.nav-bar {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.ui.menu.nav-bar-content {
  background: linear-gradient(
    150deg,
    rgba(83, 32, 229, 1) 0%,
    rgba(225, 27, 229, 1) 80%,
    rgba(225, 27, 229, 1) 100%
  );
  border-radius: 0;
  border: none;
}

.ui.menu .item.app-logo {
  background: white;
  border-radius: 0;
}

.ui.icon.menu .item.menu-item {
  color: white;
  font-weight: bold;
}

.ui.menu .active.item.menu-item {
  background: rgba(255, 255, 255, 0.4);
}

.ui.menu a.item:hover.menu-item {
  background: rgba(255, 255, 255, 0.4);
}
