.page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-name {
  width: 40%;
  min-width: 300px;
  margin-top: 10%;
}

.title {
  background: -webkit-linear-gradient(
    140deg,
    rgba(83, 32, 229, 1) 0%,
    rgba(225, 27, 229, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1em;
  margin-top: 0;
  margin-bottom: 2em;
}

.link-container {
  margin-top: 1em;
  display: inline-flex;
}

.link-info {
  margin-right: 0.5em;
}
